/* 12/11/2021 */

:root {
  /*Seudoselector*/
  --blanco: #ffffff;
  --vino: #881443;
  --rosaPalo: #dd969c;
  --rosaSuave: #eecacd;
  --grisFondo: #e5e5e5;
  --grisOscuro: #808080;
  --negro: #000000;

  /* Fuentes */
  --FuentePrincipal: "Roboto", sans-serif;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: var(--FuentePrincipal);
  font-weight: normal;
  background-color: #e5e5e5;
}

.navbar {
  background-color: var(--rosaSuave);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: auto 2rem;
}

.logo img {
  width: 100px;
}

.navegacion-principal {
  background-color: var(--rosaPalo);
  font-size: 18px;
  /* padding: 1rem 0; */ /* padding: 3.2rem 2rem; */
  margin: auto 160px;
  border-radius: 1rem;
}

.navegacion-principal a {
  color: var(--blanco);
  text-decoration: none;
  /* padding: 1rem; */
  font-weight: bold;
}

.navegacion-principal a:hover {
  background-color: var(--vino);
  border-radius: 1rem;
}

#bt-menu {
  display: none;
}

.contenedor label{
  display: none;
  padding: 1rem 1rem;
  background-color: var(--rosaPalo);
}

.contenedor label:hover {
  cursor: pointer;
  padding: 1rem 1rem;
  background-color: var(--vino);
}

.lista ul {
  margin: 0;
  list-style: none;
  padding: 0;
  display: flex;
}

.lista li a {
  display: block;
  padding: 15px 20px;
  color: white;
  text-decoration: none;
}

.division {
  align-items: center;
  /* padding: 1rem; */
}

      /* BARRA DE BUSQUEDA */
.text-input {
  width: 60%;
  font-size: 16px;
  padding: -1rem;
  border-radius: 0.5rem 0 0 0.5rem;
  text-align: center;
  color: var(--grisOscuro);
  border: none;
}

.buscador{
  display: flex;
  justify-content: center;
  padding-top: 10px;
}
.buscador button{
  border: none;
  background-color: var(--blanco);
  border-radius: 0 0.5rem 0.5rem 0;
  border-left: 2px solid var(--grisFondo);
}

.inisesion {
  display: flex;
  flex-direction: column;
  text-align: center;
  text-decoration: none;
}

.inisesion a {
  color: var(--negro);
  text-decoration: none;
  font-weight: bold;
  font-size: 12px;
}

/*Cambiar el color en inicio de sesión*/
.inisesion :nth-child(2):hover,
.inisesion :nth-child(3):hover {
  color: var(--blanco);
}

/* Dieño pagina */

  /* TITULO */
  header h1{
    margin-top: 10px;
    text-align: center;
    color: var(--vino);
    margin-bottom: 50px;
  }

body .titulos{
  display: flex;
  justify-content: center;

}

.titulos{
  display: flex;
  justify-content: center;
  background-color: var(--rosaSuave);
  width: 100%;
  align-items: center;
  padding: 30px;
  border-radius: 2rem;
  color: var(--blanco);
}

.titulos .titulo{
  display: flex;
  align-items: center;
  text-align: center;
  padding: 0 80px;
}

.grid-videos{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 1rem;
}

.video{
  text-align: center;
  font-weight: 700;
  padding: 3rem 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}


/*   Parte del footer */
.footer {
  display: flex;
  padding: 10px 100px;
  width: 100%;
  background-color: var(--vino);
  list-style: none;
  text-align: center;
}

.lista2 {
  display: flex;
  flex-direction: column;
  color: var(--blanco);
  padding: 0 auto;
  width: 100%;
  flex: 0 calc(33.3% - 1rem);
}

.lista2 a {
  text-decoration: none;
  color: var(--blanco);
}


/*   Videos dinamicos */

@media (max-width: 768px) {
  .grid-videos{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1rem;
  }
  .titulos{
    background-color: var(--grisFondo);
    font-size: 0px;
    padding: 0;
  }
  .video{
    padding: 3rem 2rem;
  }
}

@media (max-width: 540px) {
  .grid-videos{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    column-gap: 1rem;
  }
}

/* contenedor extralargo de 1200px */
@media (max-width: 1200px){
  .navbar .division .navegacion-principal{
    margin: auto 8rem;
  }
}

@media (max-width: 992px){
  .navbar .division .navegacion-principal{
    margin: auto auto;
  }
}

/* Footer dinamico */
@media (max-width: 768px){
  .footer{
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 280px){
  .footer{
    font-size: 10px;
  }
}

@media (max-width: 768px) {
  .division{
    margin: auto 40px;
  }

  .contenedor label {
    display: block;
  }

  .lista {
    position: absolute;
    background-color: var(--rosaPalo);
    width: 30%;
    margin-top: -70%;
    transition: 0.05s;
  }

  .lista ul {
    flex-direction: column;
  }

  #bt-menu:checked ~ .lista{
      margin: 0;
  }
}

@media (max-width:480px)
{
  .division{
    margin: auto 0;
  }

  .contenedor{
    width: 50%;
  }

  .lista {
    position: absolute;
    background-color: var(--rosaPalo);
    width: 30%;
    margin-top: -180%;
    transition: 0.05s;
  }
}

@media (max-width:300px)
{
  .division{
    margin: auto 0;
  }

  .contenedor{
    width: 60%;
  }

  .logo{
    display: none;
  }
  .lista {
    position: absolute;
    background-color: var(--rosaPalo);
    width: 60%;
    margin-top: -180%;
    transition: 0.05s;
  }
}